@font-face {
    font-family: Ubuntu;
    src: url(../fonts/Ubuntu-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
    outline: none;
    border: 0;
    text-decoration: none !important;
    list-style: none;
    box-sizing: border-box;
}

:root {
    --color-primary: #6c63ff;
    --color-success: #00bf8e;
    --color-warning: #f7c94b;
    --color-danger: #f75842;
    --color-white: #fff;
    --color-black: #000;
    --color-bg: hsl(231, 26%, 16%);
    --color-bg2: #666666;
    --color-bg3: #660099;
    --color-bg4: #9999cc;
    --container-width-xl: 1240px;
    --container-width-lg: 1140px;
    --container-width-md: 720px;
    --container-width-sm: 720px;
    --container-width-xm: 100%;
}

/* ******* SCROLLBAR STYLING ENDS ************* */


body {
    background: var(--color-bg);
    color: var(--color-white);
    font-family: Ubuntu;
    line-height: 1.7;
    /* overflow: hidden; */
}

.container {
    max-width: var(--container-width-lg);
    margin: 0 auto;
}

img {
    width: 100%;
    display: block;
    object-fit: contain;
}

a {
    color: var(--color-white);
    font-size: 1rem;
}

section {
    padding: 6rem;
}

h1,
h2,
h3,
h4,
h5 {
    line-height: 1.2;
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.3rem;
}

.bg-grid {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
    width: calc(100% - 2rem);
}

/************** Navbar Style *************/
nav.nav {
    width: 100%;
    position: fixed;
    padding: 1rem;
    top: 0;
    left: 0;
    height: 4.5rem;
    z-index: 99;
}

nav.nav.show {
    background: rgba(0, 0, 0, .7);
}

nav .nav-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-logo a span.logo-name {
    font-size: 1.5em;
    margin-left: 4px;
    font-weight: 600;
}

.nav-logo a span.bx {
    font-size: 2.5em;
    font-weight: bold;
}

nav ul li {
    position: relative;
    padding-left: 1.2rem;
    height: 65px;
}

nav ul li a {
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    transition: all 0.4s ease;
    border-radius: 3px;
    font-size: 1.2em;
    white-space: nowrap;
}

nav.nav ul li a:hover {
    color: #11101d;
    background: rgba(255, 255, 255, 0.4);
}

nav ul li span.bx {
    height: 45px;
    min-width: 50px;
    line-height: 45px;
    transition: all 0.2s ease;
    text-align: center;
    font-size: 1.3em;
}

button.toggle-btn,
button.toggle-close-btn {
    background: none;
    padding: 8px;
    color: var(--color-bg4);
}

button.toggle-btn span,
button.toggle-close-btn span {
    font-size: 4em;
    font-weight: 600;
    cursor: pointer;
}

button.toggle-close-btn span {
    position: absolute;
    top: 20px;
    right: 25px;
    z-index: 99;
    color: var(--color-danger);
    display: none;
}

nav .nav-container .nav-list.show {
    left: 0;
    transition: all 600ms ease-in-out;
}

/* **************************** MAIN SECTION STYLING ***********/
main.hero-section {
    position: relative;
    min-height: 100vh;
    background: url(../assets/bigpicture_01.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0 2rem;
}

main.hero-section::before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: hsla(0, 0%, 0%, 0.7);
}

main.hero-section .hero-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
}

.dev-infos {
    position: absolute;
        left: 50%;
        transform: translateX(-50%);
        z-index: 99;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main.hero-section .hero-container .dev-img-container {
    height: 265px;
    width: 265px;
    z-index: 1;
}

main.hero-section .hero-container img.dev-img {
    max-width: 100%;
    border-radius: 50%;
    object-fit: contain;
}

main.hero-section .hero-container h2.dev-name {
    font-size: 2.4em;
    font-weight: 700;
    text-transform: capitalize;
}

main.hero-section .hero-container p.dev-role {
    font-size: 1.2em;
    text-transform: capitalize;
    font-weight: 500;
}

main.hero-section .bottom {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0.4rem;
    bottom: 10px;
    gap: 0.51rem;
}

main.hero-section .bottom .line {
    display: block;
    width: 45px;
    height: 0.25rem;
    background: var(--color-bg2);
}

main.hero-section .bottom span.scroll {
    font-size: 10px;
    font-weight: 400;
}

main.hero-section .shape-01 {
    position: absolute;
    right: 5%;
    top: 25%;
    height: 50px;
    width: 50px;
    border: 2px solid #6c63ff;
    transform: translateY(-25%);
    backdrop-filter: blur(5px);
    animation: rotate 5s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.card-img img {
    display: block;
    width: 100px;
    height: 100px;
    border: 2px solid rgba(255, 255, 0, 0.31);
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
    border-radius: 50%;
    margin: 0 auto;
}

.card-label {
    text-align: center;
    color: #fff;
    font-weight: 700;
    width: 50px;
    padding: 5px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
}

.card-label {
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
}

.card-label span {
    text-align: center;
    color: #fff;
    margin: 10px;
}

.card-title {
    padding: 10px;
}

.card-title h1 {
    text-align: center;
    color: #fff;
    font-size: 20px;
}

.card-description {
    padding: 15px;
}

.card-description p {
    text-align: center;
    font-size: 1rem;
    color: #fff;
}

.card-button {
    margin-left: 10px;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    font-size: 0.7em;
    color: #fff;
    padding: .35rem .65rem;
    border: 2px solid rgba(255, 255, 255, 0.1);
    outline: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}
main.hero-section .shape-02 {
    position: absolute;
    border: 2px solid transparent;
    left: 5%;
    top: 25%;
    height: 100px;
    width: 100px;
    border-top-color: #6c63ff;
    border-bottom-color: #f9c922;
    border-radius: 50%;
    transform: translateY(-25%);
    animation: rotate 4s linear infinite;
}


main.hero-section .shape-02::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 2px solid transparent;
    border-top-color: #e74c3c;
    border-bottom-color: #e74c3c;

    -webkit-animation: rotate 3s linear infinite;
    /* Chrome, Opera 15+, Safari 5+ */
    animation: rotate 3s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */
}

main.hero-section .shape-02::after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 2px solid transparent;
    border-top-color: #f9c922;
    border-bottom-color: #f9c922;

    -webkit-animation: rotate 2.5s linear infinite;
    /* Chrome, Opera 15+, Safari 5+ */
    animation: rotate 2.5s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */
}

/************************ ABOUT STYLING ************************/
.about-dev {
    position: relative;
}

.about-dev .about-dev-container {
    height: 100%;
    display: grid;
    place-content: center;
    place-items: center;
    grid-template-columns: 1fr;
    gap: 2rem;
    z-index: 99;
}

.about-dev-container .about-dev-image {
    height: 350px;
    width: 350px;
}

.about-dev-container .about-dev-image img {
    max-width: 100%;
    display: block;
    object-fit: contain;
    object-position: center;
}

.about-dev .about-dev-container .about-dev-infos {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
}

.about-dev-container .about-dev-infos .about-dev-bio {
    max-width: 750px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
    gap: 2rem;
    border: 2px solid var(--color-danger);
}

.about-dev-infos .details .about-dev-title {
    font-size: 1em;
    color: hsl(5, 84%, 66%);
    margin-bottom: 6px;
}

.about-dev-infos .details .about-title {
    position: relative;
    font-size: 2.5em;
    margin-bottom: 6px;
}

.about-dev-infos .details .about-title::after {
    position: absolute;
    content: "";
    left: 0;
    top: 36px;
    width: 2.3em;
    height: 0.25rem;
    background: hsl(5, 84%, 66%);
}

.about-dev-infos .details .about-dev-text {
    padding: 1rem 0 0 0;
    text-align: justify;
    font-size: 1.2em;
    font-weight: 500;
}

section.about-dev .left {
    display: flex;
    position: absolute;
    top: 15%;
    right: 0;
}

section.about-dev .left {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10%;
    transform: translateY(-10%);
    right: 0;
}

section.about-dev .left .label {
    font-size: 2em;
    color: hsl(235, 19%, 23%);
}

section.about-dev .left .line {
    display: block;
    width: 35px;
    height: 0.16rem;
    background: hsl(5, 84%, 66%)
}

section.about-dev .shape-02 {
    position: absolute;
    border: 2px solid transparent;
    left: 70%;
    top: 10%;
    height: 100px;
    width: 100px;
    border-top-color: #6c63ff;
    border-bottom-color: #f9c922;
    border-radius: 50%;
    transform: translateY(-10%) translateX(-70%);
    animation: rotate 4s linear infinite;
}


section.about-dev .shape-02::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 2px solid transparent;
    border-top-color: #e74c3c;
    border-bottom-color: #e74c3c;

    -webkit-animation: rotate 3s linear infinite;
    /* Chrome, Opera 15+, Safari 5+ */
    animation: rotate 3s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */
}

section.about-dev .shape-02::after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 2px solid transparent;
    border-top-color: #f9c922;
    border-bottom-color: #f9c922;

    -webkit-animation: rotate 2.5s linear infinite;
    /* Chrome, Opera 15+, Safari 5+ */
    animation: rotate 2.5s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */
}

/**************** SERVICE STYLING ******************/
section.service-section {
    background: hsl(235, 25%, 19%);
    box-shadow: inset 0 0 3rem rgb(22, 23, 38);
    position: relative;
}

section.service-section .service-container {
    height: 100%;
}

section.service-section .service-container .service-dev-title {
    font-size: 1.4em;
    color: hsl(5, 84%, 66%);
    margin-bottom: 6px;
}

section.service-section .service-container .service-title {
    position: relative;
    font-size: 2.5em;
    margin-bottom: 6px;
}

section.service-section .service-container .service-title::after {
    position: absolute;
    content: "";
    left: 0;
    top: 40px;
    width: 2.3em;
    height: 0.25rem;
    background: hsl(5, 84%, 66%);
}

section.service-section .left {
    display: flex;
    position: absolute;
    top: 15%;
    right: 0;
}

section.service-section .left {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10%;
    transform: translateY(-10%);
    right: 0;
}

section.service-section .left .label {
    font-size: 2em;
    color: hsl(235, 19%, 23%);
}

section.service-section .left .line {
    display: block;
    width: 35px;
    height: 0.16rem;
    background: hsl(5, 84%, 66%)
}

section.service-section .service-container .service-grid {
    margin-top: 3.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}

.service-grid .card {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 0.6rem;
    min-height: 150px;
    min-width: 100px;
    padding: 1rem;
    background: hsl(231, 25%, 18%);
    box-shadow: 0 0 6px hsl(0, 0%, 0%, 0.4);
}

.service-grid .card span.bx {
    font-size: 3rem;
    font-weight: 400;
    color: #f75842;
}

.service-grid .card span.bx-right-arrow-alt {
    position: absolute;
    cursor: pointer;
    bottom: 10px;
    right: 20px;
}

.service-grid .card .card-body {
    margin-top: 2rem;
    padding: 0.5rem;
}

.service-grid .card .card-body h3.card-title {
    font-size: 1.3em;
    margin-bottom: 1rem;
}

.service-grid .card .card-body p.card-text {
    font-size: 1.2em;
    margin-top: 1rem;
    color: #6c63ff;
    text-align: justify;
}

section.service-section .shape-02 {
    position: absolute;
    border: 2px solid transparent;
    left: 5%;
    top: 25%;
    height: 100px;
    width: 100px;
    border-top-color: #6c63ff;
    border-bottom-color: #f9c922;
    border-radius: 50%;
    transform: translateY(-25%);
    animation: rotate 4s linear infinite;
}


section.service-section .shape-02::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 2px solid transparent;
    border-top-color: #e74c3c;
    border-bottom-color: #e74c3c;

    -webkit-animation: rotate 3s linear infinite;
    /* Chrome, Opera 15+, Safari 5+ */
    animation: rotate 3s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */
}

section.service-section .shape-02::after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 2px solid transparent;
    border-top-color: #f9c922;
    border-bottom-color: #f9c922;

    -webkit-animation: rotate 2.5s linear infinite;
    /* Chrome, Opera 15+, Safari 5+ */
    animation: rotate 2.5s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */
}

/************************* CONTACT STYLING **********************/
section.contact-section {
    position: relative;
    box-shadow: inset 0 0 3rem rgb(22, 23, 38);
}

section.contact-section .contact-container {
    height: 100%;
}

section.contact-section .contact-container .contact-means {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    place-content: center;
    gap: 4rem;
}

.contact-means .contact-details {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 2rem;
}

.contact-details .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

section.contact-section .contact-container .contact-title {
    position: relative;
    font-size: 2.5em;
    margin-bottom: 6px;
}

section.contact-section .contact-container .contact-title::after {
    position: absolute;
    content: "";
    left: 0;
    top: 40px;
    width: 2.3em;
    height: 0.25rem;
    background: hsl(5, 84%, 66%);
}

.contact-details .contact .contact-label {
    display: flex;
    text-align: center;
    flex-direction: column;
}

.contact-details .contact .contact-label span.label-text {
    font-size: 1em;
}

.contact-details .contact .icon {
    position: relative;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border: 2px solid #e74c3c;
    border-radius: 50%;
}

.contact-details .contact .icon span.bx {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.62em;
}

form#form .form-control {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    gap: 1rem;
}

form#form .form-control input {
    width: 255px;
    padding: 1rem 2rem;
    background: transparent;
    border: 1px solid #e74c3c;
    caret-color: #fff;
    color: #ccc;
    border-radius: 0.4rem;
}

form#form .textarea textarea {
    background: transparent;
    caret-color: #fff;
    color: #ccc;
    border: 1px solid #e74c3c;
    border-radius: 0.4rem;
    width: 520px;
    padding: 1rem;
}

section.contact-section .left {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10%;
    transform: translateY(-10%);
    right: 0;
}

section.contact-section .left .label {
    font-size: 2em;
    color: hsl(235, 19%, 23%);
}

section.contact-section .left .line {
    display: block;
    width: 35px;
    height: 0.16rem;
    background: hsl(5, 84%, 66%)
}

/******************************* FOOTER STYLING **************************/
footer.footer-section {
    padding: 1rem;
    height: 6rem;
    background: hsl(235, 19%, 23%);
}

.footer-section .footer-container {
    height: 100%;
    display: grid;
    place-items: center;
    place-content: center;
    grid-template-columns: 60% 40%;
}

.footer-section .footer-container .footer-social-links a {
    margin-left: 2rem;
    font-size: 1.6em;
    transition: all 600ms ease;
}

.footer-social-links a:hover>span {
    color: #f75842;
    transform: scale(1.2);
    transition: all 600ms ease;
}

/********************** MEDIA QUERIES ************************************/
@media screen and (max-width:425px) {
    .contact-means .contact-details {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
        place-content: center;
        gap: 1rem;
        margin-top: 2rem;
        white-space: nowrap;
    }

    form#form .form-control {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 1rem;
        gap: 1rem;
    }

    form#form .textarea textarea {
        width: 360px;
    }

    form#form .form-control input {
        width: 355px;
    }
}

@media screen and (max-width:576px) {
    nav.nav {
        height: calc(4.5rem + 1.5rem);
    }

    nav .nav-container .nav-list {
        padding: 5rem 1rem 2rem 1rem;
        position: fixed;
        top: 0;
        left: -100%;
        width: 40%;
        height: 100%;
        z-index: 99;
        background: linear-gradient(hsla(0, 0%, 0%, 0.9), var(--color-primary));
        font-weight: 600;
        transition: all 600ms ease-in-out;
        border-radius: 0 0.7rem 0.7rem 0;
    }

    main.hero-section .hero-container .dev-img-container {
        height: 400px;
        width: 400px;
    }

    button.toggle-close-btn span {
        display: none;
    }

    main.hero-section .hero-container h2.dev-name {
        font-size: 1.8em;
        font-weight: 700;
        text-transform: capitalize;
    }

    main.hero-section {
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding: 0 2rem;
    }

    .card {
        min-height: 250px;
        min-width: 250px;
        padding: 1rem;
    }
}

@media screen and (max-width:760px) {

    nav.nav {
        height: calc(4.5rem + 1.5rem);
    }

    nav .nav-container .nav-list {
        padding: 5rem 1rem 2rem 1rem;
        position: fixed;
        top: 0;
        left: -100%;
        width: 40%;
        height: 100%;
        z-index: 99;
        /* background: var(--color-primary); */
        background: linear-gradient(hsla(0, 0%, 0%, 0.9), var(--color-primary));
        font-weight: 600;
        transition: all 600ms ease-in-out;
        border-radius: 0 0.7rem 0.7rem 0;
    }

    main.hero-section {
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding: 0 2rem;
    }

    main.hero-section .hero-container .dev-img-container {
        height: 400px;
        width: 400px;
    }

    .about-dev-container .about-dev-image img {
        max-width: 100%;
        display: block;
        object-fit: contain;
        object-position: center;
    }

    button.toggle-close-btn span {
        display: block;
    }

    main.hero-section .hero-container h2.dev-name {
        font-size: 1.8em;
        font-weight: 700;
        text-transform: capitalize;
    }

    .footer-section .footer-container {
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width:768px) {
    .container {
        max-width: var(--container-width-md);
    }

    nav.nav {
        height: calc(4.5rem + 1.5rem);
    }

    .nav-container {
        height: 100%;
    }

    nav .nav-container .nav-list {
        padding: 0;
    }

    .nav-container ul {
        display: flex;
        align-items: center;
        flex-direction: row;
        padding-top: 0;
        gap: 2rem;
    }

    nav ul li {
        position: relative;
        padding-left: 2rem;
        height: 20px;
        line-height: 20px;
    }

    nav ul li span.bx {
        display: none;
    }

    button.toggle-btn,
        button.toggle-close-btn {
        display: none;
    }

    nav ul li a {
        display: flex;
        align-items: center;
        text-align: center;
        transition: all 0.4s ease;
        border-radius: 3px;
        font-size: 1.5em;
        font-weight: 600;
        white-space: nowrap;
    }

    nav.nav ul li a:hover {
        color: #67402a;
        background: none;
    }

    nav.nav ul li a:hover::after {
        position: absolute;
        content: " ";
        top: 25px;
        height: 0.17rem;
        width: 100%;
        background-color: #6c6;
    }

    nav ul li a.active::after {
        position: absolute;
        content: " ";
        top: 25px;
        height: 0.17rem;
        width: 100%;
        background-color: #6c6;
    }

    main.hero-section .hero-container h2.dev-name {
        font-size: 2.3em;
    }

    main.hero-section .hero-container p.dev-role {
        font-size: 1.4em;
    }

    .about-dev .about-dev-container {
        height: 100%;
        gap: 1rem;
    }

    .about-dev .about-dev-container .about-dev-infos {
        max-width: 750px;
    }

    main.hero-section .hero-container .dev-img-container {
        height: 400px;
        width: 400px;
    }

    .about-dev-container .about-dev-image img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
        object-position: center;
    }

    .card {
        min-height: 250px;
        min-width: 250px;
        padding: 1rem;
    }

    .footer-section .footer-container {
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width:1400px) {
    .container {
        max-width: var(--container-width-lg);
    }

    .about-dev-container .about-dev-image {
        height: 550px;
        width: 450px;
    }

    .about-dev-container .about-dev-image img {
        max-width: 100%;
        display: block;
        object-fit: cover;
        object-position: center;
    }

    .about-dev .about-dev-container {
        height: 100%;
        grid-template-columns: 35% 65%;
        gap: 6rem;
    }

    .about-dev-container .about-dev-infos .about-dev-bio {
        max-width: 750px;
        line-height: 40px;
        min-height: 200px;
        gap: 2.5rem;
        font-size: 1.2em;
    }


    section.service-section .service-container .service-grid {
        margin-top: 3.5rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }

    .card {
        height: 285px;
        min-width: 300px;
        padding: 2rem;
    }

    .service-grid .card .card-body {
        margin-top: 3rem;
        padding: 0.5rem;
    }

    section.about-dev .left .label {
        font-size: 2.5em;
        font-weight: 800;
    }

    section.about-dev .left .line {
        display: block;
        width: 70px;
        height: 0.16rem;
    }

    section.service-section .left .label {
        font-size: 2.5em;
        font-weight: 800;
    }

    section.service-section .left .line {
        display: block;
        width: 70px;
        height: 0.16rem;
    }

    section.contact-section .left .label {
        font-size: 2.5em;
        font-weight: 800;
    }

    section.contact-section .left .line {
        display: block;
        width: 70px;
        height: 0.16rem;
    }

    section.contact-section {
        padding: 4rem;
    }

    section.contact-section .contact-container .contact-means {
        padding: 10px;
        grid-template-columns: 40% 60%;
        gap: 4rem;
    }

    .contact-means .contact-details {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 3rem;
    }

    .contact-details .contact {
        display: grid;
        grid-template-columns: 25% 75%;
        text-align: center;
        white-space: nowrap;
    }

    .contact-details .contact .contact-label {
        display: flex;
        text-align: justify;
        flex-direction: column;
    }

    .footer-section .footer-container {
        grid-template-columns: 1fr 1fr;
    }
}
