* {
    padding: 0;
    margin: 0;
    outline: none;
    border: 0;
    text-decoration: none !important;
    list-style: none;
    box-sizing: border-box;
}

:root {
    --color-primary: #6c63ff;
    --color-success: #00bf8e;
    --color-warning: #f7c94b;
    --color-danger: #f75842;
    --color-white: #fff;
    --color-black: #000;
    --color-bg: #000033;
    --color-bg2: #666666;
    --color-bg3: #660099;
    --color-bg4: #9999cc;
    --container-width-xl: 70%;
    --container-width-lg: 80%;
    --container-width-md: 90%;
    --container-width-sm: 94%;
    --container-width-xm: 100%;
}

/* ******* SCROLLBAR STYLING ************* */

::-webkit-scrollbar {
    width: .81em;
}

::-webkit-scrollbar-track {
    background: rgba(118, 100, 100, 0.8);
    margin-block: .5em;
    border-radius: 3rem;
}

::-webkit-scrollbar-thumb {
    background: rgb(71, 146, 71);
    border-radius: 3rem;
    border: .16rem solid hsl(120 25% 20% / 1);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(11, 101, 11);
}

@supports(scrollbar-color: red blue) {
    * {
        scrollbar-color: hsl(120 50% 50% / 1) hsl(120 50% 20% / 1);
        scrollbar-width: thin;
    }
}

/* ******* SCROLLBAR STYLING ENDS ************* */


body {
    background: var(--color-bg);
    color: var(--color-white);
    font-family: sans-serif;
    line-height: 1.7;
}

.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}

img {
    width: 100%;
    display: block;
    object-fit: contain;
}

a {
    color: var(--color-white);
    font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
    line-height: 1.2;
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.3rem;
}



/************** Navbar Style *************/

nav {
    position: fixed;
    height: 4rem;
    background: transparent;
    z-index: 11;
    width: 100vw;
}

nav.nav-background {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    background: var(--color-bg);
}

.nav-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo a {
    font-size: 1.7rem;
    color: #e2dfdf;

}

.logo-icon {
    font-size: 2rem;
    color: #3022e6;
    font-weight: bolder;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

nav button {
    font-size: 1.5rem;
    color: var(--color-white);
    background: transparent;
    cursor: pointer;
}

.nav-menu .nav-item {
    margin-bottom: 2.4rem;
}

.nav-menu .nav-link {
    position: relative;
    color: #fff;
    font-size: 1rem;
    transition: all 700ms ease;
}

.nav-link:hover {
    position: relative;
}

.active::after {
    position: absolute;
    content: '';
    top: 1.6rem;
    left: 0;
    height: 0.18rem;
    width: 100%;
    background-color: var(--color-primary);
}

.nav-link:hover::after {
    position: absolute;
    content: '';
    top: 1.6rem;
    left: 0;
    height: 0.18rem;
    width: 100%;
    background-color: var(--color-primary);
}

.nav-menu.show {
    left: 0;
    transition: all 2s ease;
}

/* ******************** ***************** */
@media screen and (max-width:768px) {
    .nav-menu {
        position: fixed;
        top: 0;
        left: -100%;
        width: 17rem;
        height: 100%;
        padding: 2rem;
        gap: 0;
        background-color: #000033;
    }
}

/* ***** HOME STYLING ******* */
.home-section {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url(../assets/img-04.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.4),
        inset -10px -10px 10px rgba(0, 0, 0, 0.4);
}

.hero-section {
    position: relative;
    top: 25%;
    width: var(--container-width-lg);
    margin: 0 auto;
}

.home-detail {
    align-self: center;
}

.name-title {
    font-size: 2.3rem;
    margin-bottom: 2rem;
}

.home-title-c{
    color: #5432f0;
}

.home-social {
    display: flex;
    flex-direction: column;
}

.home-icon {
    width: max-content;
    margin-bottom: 0.4rem;
    font-size: 2rem;
    color: var(--color-primary);
    cursor: pointer;
}

.home-icon:hover {
    color: var(--color-bg4);
}

.home-btn {
    display: inline-block;
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: .75rem 2.5rem;
    font-weight: 1.2rem;
    border-radius: .5rem;
}

.home-btn:hover {
    box-shadow: 0 10px 36px rgba(0, 0, 0, .15);
}

/* ***** ABOUT STYLING ******* */
.about-container {
    padding-bottom: 5rem;
    width: var(--container-width-md);
    margin: 0 auto;
    padding-top: 3.5rem;
    display: grid;
    gap: 3rem;
    grid-template-columns: 1fr 1fr;
}

.about-section h2 {
    position: relative;
    text-align: center;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

.about-section h2::after {
    content: "";
    position: absolute;
    top: 2.5rem;
    left: 0;
    right: 0;
    width: 120px;
    height: 0.3rem;
    margin: auto;
    border-radius: .2rem;
    background-color: var(--color-primary);
}


.about-container .about-section {
    position: relative;
    top: 20%;
}

.about-section p {
    text-align: justify;
}

.about-image {
    justify-self: center;
}

/* ************** SKILLS STYLING ************ */
.section-skill {
    padding-top: 3.2rem;
    display: inline-block;
}

h2 {
    position: relative;
    text-align: center;
    margin-bottom: 2.5rem;
    margin-top: 1.5rem;
}

.section-skill h2::after {
    content: "";
    position: absolute;
    top: 2.5rem;
    left: 0;
    right: 0;
    width: 250px;
    height: 0.3rem;
    margin: auto;
    border-radius: .2rem;
    background-color: var(--color-primary);
}

.skill-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
    text-align: center;
}

.skill-info {
    margin-bottom: 2rem;
    line-height: 2.2;
}

.skill-info p {
    text-align: justify;
}

.skills-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: .99rem 1rem;
    box-shadow: 1px 1px 10px 0 rgba(118, 100, 100, 0.8);
    margin-bottom: 1.5rem;
    font-weight: 600;
    border-radius: .5rem;
}

.skill-icon {
    font-size: 2rem;
    margin-right: 1.5rem;
}

.fa-html5 {
    color: var(--color-danger);
}

.fa-css3-alt {
    color: var(--color-primary);
}

.fa-js {
    color: var(--color-warning);
}

.skill-name {
    display: flex;
    align-items: center;
}

.skill-bar {
    position: absolute;
    left: 1px;
    bottom: 0;
    height: .30rem;
    z-index: -2;
    border-radius: .6rem;
}

.skill-html {
    background: var(--color-success);
    width: 95%;
}

.skill-css {
    background: var(--color-primary);
    width: 75%;
}

.skill-js {
    background: var(--color-warning);
    width: 65%;
}

/* ************** SERVICE STYLING ************ */
.service-section {
    position: relative;
    min-height: calc(100vh - 5vh);
    padding: 1.5rem 0;
    background: linear-gradient(302deg, #000033, rgba(0, 0, 0, .9));
}

.service-section h2 {
    position: relative;
    text-align: center;
    padding-top: 1.5rem;
}

.service-section h2::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 3.8rem;
    height: .39rem;
    border-radius: 18px;
    width: 200px;
    background: var(--color-primary);
}

.service-cards {
    padding-top: 1rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.3rem;
}

.card {
    position: relative;
    height: 350px;
    width: 325px;
    text-align: center;
    background: rgba(0, 0, 0, .3);
    box-shadow: -1px -2px 15px 0 rgba(122, 113, 113, 0.4);
    border-radius: 15px;
    padding: 1rem;
    overflow: hidden;
    transform: scale(0.85);
    transition: all 400ms ease;
}

.card:hover {
    background: transparent;
    border: 2px solid #f75842;
    transform: scale(1);
}

.card i {
    display: block;
    font-size: 50px;
    text-align: center;
    color: #f9004d;
    margin: 25px 0;
}

.card-body h5 {
    font-size: 23px;
    margin-bottom: 10px;
}

.card-body p {
    font-size: 16px;
    color: #fcfc;
    line-height: 24px;
    margin-bottom: 15px;
}

.card-btn {
    position: relative;
    background-color: #f9004d;
    padding: 9px 40px;
    border-radius: 30px;
    font-weight: bold;
    transition: background 400ms ease;
}

.card-btn span {
    position: absolute;
    right: 15px;
    bottom: 10px;
    animation: animateArrow 2s infinite backwards cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 400ms ease;
}

.card-btn:hover {
    border: 2px solid #f9004d;
    background: transparent;
}

@keyframes animateArrow {

    0%,
    100% {
        right: 12px;
    }

    50% {
        right: 6px;
    }
}

/* ************** MEDIA QUERIES FOR(ALL SCREENS) ************/

@media screen and (min-width:768px) {
    .container {
        width: var(--container-width-md);
    }

    h1 {
        font-size: 2.2rem;
    }

    h2 {
        font-size: 1.7rem;
    }

    h3 {
        font-size: 1.4rem;
    }

    h4 {
        font-size: 1.2rem;
    }

    .nav-menu {
        display: flex;
        padding-top: 0;
    }

    .nav-item {
        margin-left: 3rem;
        margin-top: 1.4rem;
    }

    #open-menu-btn {
        display: none !important;
    }
}
